{% extends 'base.html.twig' %}

{% block title %} concept {% endblock %}

{% block container %}

    <h1> Concept </h1>

    <div> <a  href="{{ path('app_homepage') }}"> Retour page d'accueil </a> </div>


{% endblock %}