{% extends 'base.html.twig' %}

{% block title %} incomes verification {% endblock %}

{% block container %}
    dd($incomes);
{{ incomes.ca }}

    <button type="submit" class="btn btn-primary">Create!</button>

{% endblock %}