{% extends 'base.html.twig' %}

{% block title %} login {% endblock %}

{% block container %}

    <h1> Login </h1>

    <div> <a  href="{{ path('app_homepage') }}"> Retour page d'accueil </a> </div>


    <div class="formContainer">
        <form method="post" action="{{ path('app_dashboard') }}">
            <label for="pseudo">Pseudo</label><br>
            <input type="text" id="pseudo" name="pseudo"><br>
            <label for="password">Mot de passe</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Connexion" id="submit" name="submit">
        </form>
    </div>

    <div> <a  href="{{ path('app_register') }}"> Je n'ai pas de compte </a> </div>

{% endblock %}