{% extends 'base.html.twig' %}

{% block title %} test {% endblock %}

{% block container %}

    <h1> test </h1>

    <h2> <a  href="{{ path('app_homepage') }}"> Retour page principale </a> </h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec justo augue. Duis laoreet felis ac magna posuere, eu aliquam augue volutpat. Donec id enim metus. Morbi placerat sapien sem, ut semper arcu lobortis ut. Vestibulum ante erat, fermentum sit amet tempus quis, tempor at dolor. Vestibulum dui mauris, consequat eu mi sit amet, maximus interdum velit. Sed pharetra erat a placerat tempus. Cras tincidunt turpis eu erat tincidunt, sit amet tristique est lobortis. Proin et neque dictum, lacinia felis ut, venenatis sapien. Mauris id dignissim ante, eu tincidunt neque.
    </p>

{% endblock %}