{% extends 'base.html.twig' %}

{% block title %} dashboard {% endblock %}

{% block container %}

<div class="row title">
    <h1 class="col-lg-12">
        Mon Profil
    </h1>
</div>

{% endblock %}